ul {
    list-style-type: none;
    /* list-style-image: url('../images/flagicon.png'); */
    /* list-style: square url('../images/flagicon.png'); */
    margin: 1px;
    padding: 0;
}

ul li {
    border: 1px solid black;
    padding: 2px;
    margin: 2px;
}

ol {
    margin: 5px;
    padding: 5px;
}

ol li {
    border: 1px solid black;
    padding: 2px;
    margin: 2px;
}