seletor:pseudo-classe {
    propiedade: valor;
}

p:first-child {
    color: #8a2be2;
    font-size: 14px;
}

p:last-child {
    color: brown;
    font-size: medium;
}

p:not(.padrao) {
    color: #0440b1;
}

p:nth-child(odd) {
    color: black;
}

li:nth-child(even) {
    color: #1b46bd;
}

li:nth-child(3n) {
    color: #c7124e;
}

li:nth-child(n+2):nth-child(-n+5) {
    color: #1b46bd;
}

*/
/* li:nth-last-child(1) {
    color: #6808c2;
}

p:only-child {
    color: #c7124e;
}