@import url('https://fonts.googleapis.com/css2?family=Cutive+Mono&family=Inconsolata:wght@300;500;700;900&family=VT323&display=swap');
p {
    font-family: 'Cutive Mono', monospace;
    font-family: 'Inconsolata', monospace;
    font-family: 'VT323', monospace;
}