/* Anatomia do pseudo element */


/* seletor:: pseudo-element{
  propiedade: valor;
} */

.frist-letter::first-letter {
    font-family: 'Cutive Mono', monospace;
    font: bold;
    font: italic;
    font-size: 30px;
    color: rgb(196, 13, 13);
}

.first-line::first-line {
    font: italic;
    font: bolder;
    color: #1c0ee4;
}

.first-line::first-letter {
    font: italic;
    font: bolder;
    font-size: 45px;
    color: #05dd3b;
}

li::marker {
    color: chocolate;
    font-size: 30px;
}

h2::before {
    content: url(apple-touch-icon.png);
}

h2::after {
    content: url(apple-touch-icon.png);
}