                    * {
                        margin: 0;
                    }
                    
                    .elemento {
                        color: #e6a552;
                        font-size: 32px;
                        width: 250px;
                        height: 250px;
                        text-align: center;
                        margin-bottom: 20px;
                    }
                    
                    .elemento-estatico {
                        position: static;
                        background-color: darkolivegreen;
                    }
                    
                    .elemento-relativo {
                        left: 100px;
                        position: relative;
                        background-color: coral;
                    }
                    
                    .elemento-absoluto {
                        position: absoluto;
                        left: 200px;
                        background-color: lightgreen;
                        top: 0;
                    }
                    
                    .elemento-relativo-com-filho {
                        prosition: relatico;
                        width: 350px;
                        height: 350px;
                        background-color: lightblue;
                    }
                    
                    .elemento-absoluto-com-pai {
                        prosition: absoluto;
                        top: 0;
                        right: 0;
                        width: 350px;
                        height: 350px;
                        background-color: darkcyan;
                    }