.container {
    max-width: 400px;
    display: flex;
    border: 3px solid #701616;
}

.item {
    background-color: #8890b3;
    font-size: 18px;
    margin: 5px;
    text-align: center;
}

.justify-content .item1,
.justify-content .item3 {
    width: 80px;
}