:root {
    --color-padrao: #3cbb9b;
    --tamanho-de-font-padrao: 14px;
    --estilo-de-font-padrao: font-family: 'Cutive Mono', monospace;
    font-family: 'Inconsolata', monospace;
    font-family: 'Oswald', sans-serif;
    font-family: 'VT323', monospace;
}

p {
    --corescura-fundo: black;
    color: var(--color-padrao);
    font-family: var(--estilo-de-font-padrao);
    font-size: var(--tamanho-de-font);
    background-color: var(--corescura-fundo);
}